@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --pink: #C82E9D;
  --purple-gradient: linear-gradient(to right, #C82E9D 20%, #92218c 100%);
  --lightgray: #D9D9D9;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Montserrat";
  user-select: none;
}  

a {
  color: #2b2b2b;
  text-decoration: none;
}

body {
    color: #2b2b2b;             
}

section {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

header {
  justify-content: center;
}

h1 {
  font-size: 0.7rem;
  display: inline-block;  
  white-space: nowrap; 
  padding: 0.5rem;
  border-right: .05em solid #9e2490;
  overflow: hidden;
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}  

.scroll {
  width: 5px;
  height: 100vh;
  position: fixed;
  right: 0;
  margin: 10px;
  transform-origin: top; 
  transform: scaleY(0);   
  transition: transform 150ms linear; 
  background-color: var(--pink);
}

.text-bold {
  font-weight: bold;
}

.font-small {
  font-size: 0.85rem;
}

.font-tiny {
  font-size: 0.75rem
}

.font-gray {
  color: #b5b5b5;
}

#navbar {
  width: 70%;
  position: fixed;
  top: 20px;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

#navbar.active {
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);  
}

.monospaced {
  font-family: monospace;
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.toggle-btn {
  gap: 0.3rem;
  padding: 0.3rem;
  margin: 0.5rem;
  border: solid var(--pink) 2px;
  position: relative;
  display: flex;
  width: 10rem;
  margin-right: auto;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: calc(50% - 0.3rem);
  height: calc(100% - 0.6rem);
  background: var(--pink);
  transition: all 0.3s ease;
  z-index: 0;
}

.toggle-btn.right::before {
  transform: translateX(100%);
}

.toggle-item {
  padding: 0.3rem;
  cursor: pointer;
  z-index: 1;
  flex: 1;
  text-align: center;
  color: var(--pink);
  white-space: nowrap; 
  transition: all 0.2s ease;
}

.toggle-item:hover {
  background-color: #ffcff1;
}

.toggle-item.active {
  background-color: var(--pink);
  color: white;
}

main section {
  padding: 2rem;
  min-height: 100vh;
  height: auto;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: monospace;
}

.section-title {
  text-align: center;
}

.gradient-title {
  background: var(--purple-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-menu {
  list-style: none;
  gap: 2rem;
  justify-content: center;
  padding-top: 1.3rem;
  scroll-target-group: auto;
}

.menu-item {
  text-transform: uppercase; 
}

.menu-item.active::after, .menu-item:target-current::after {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  margin-bottom: 0.7rem;
  background-color: var(--pink);
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.menu-item::after {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  margin-bottom: 0.7rem;
  background-color: var(--pink);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-item:hover::after {
  transform: scaleX(1)
}

.hero {
  justify-content: center;
  align-items: center;  
}

.hero-child {
  display: inline-block;
  text-align: left;  
}

.hero-child h1, .hero-child h2 {
  font-size: clamp(3rem, 5vw, 4rem);
}

.hero-child img {
  width: 70vh;
}

.hero-child h2 {
  color: #551378; 
  opacity: 0;
  animation: fade 1s ease 2.7s 1 forwards;
  padding-bottom: 1rem;
}

.github-btn {
  font-size: 2em;
  text-align: center;
  padding: 1rem;
  display: inline-flex;
  border: solid var(--pink) 2px;  
  cursor: pointer;
  opacity: 0;;
  animation: fade 1s ease 4s forwards;
}

.github-btn a {
  color: var(--pink);
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;  
}

.github-btn a::after {
  content: ">";
  max-width: 0;  
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.github-btn:hover a::after {
  max-width: 20px;
  opacity: 1;
  margin-left: 10px;
}

.about {
  align-content: center;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.about .flex-container {  
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  width: 100%;
  max-width: 1100px;
}

.about-child {
  flex: 1;
}

.about_text {
  border-left: solid var(--pink) 2px;
  padding-left: 0.5rem;
}

.about h4 {
  font-weight: normal;
  color: var(--pink);
}

.education-frame {
  border: solid #f2f2f2 1px;
  padding: 1rem;
  transition: all ease 0.3s;
}

.education-frame:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 33px 1px rgba(200, 46, 157, 0.2);
}

.education-frame .flex-container {
  justify-content: space-between;
  margin-top: 1.5rem;
}

.skills .flex-container {
  gap: 1rem;
  align-items: center;
}

.skill-item {
  height: auto;
  margin: 3rem;
  justify-content: center;
}

.skill-item p {
  font-size: 0.9em;
}

.skill-item h4 {
  color: var(--pink);
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.skill-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.skill-item button:hover div {
  transform: translateY(20px);
  opacity: 1;
}

.skill-item button div {
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(-30px);
  opacity: 0;
  transition: all 0.2s;
}

.skill-item div svg {
  fill: var(--pink);
}

.skill-item .arrow {
  stroke: var(--pink);
  scale: 1.3;
}

.divider {
  border: solid var(--lightgray) 1px;
  width: 1px;
  height: 250px;
}

.icon {
  opacity: 0.2;
}

#projects .grid-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

#projects .grid-container .project {
  border: solid var(--lightgray) 1px;
  border-radius: 10px;
  padding: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../img/prj_analytics.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
}

#projects .grid-container .project .badge {
  background-color: var(--pink);
  padding: 0.35rem 0.7rem;
  color: white;
  font-size: 0.7rem;
  border-radius: 5px;
  width: fit-content;
}

#projects .grid-container .project .name {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

#projects .grid-container .project .description {
  color: white;
  font-size: 0.8rem;
}

.contact {
  background: #02022B;
}

.contact-box {
  gap: 2rem;
  justify-content: space-evenly;
  margin-top: 10rem;
}

.contact img {
  width: 45%;
  max-width: 120px;
}

.contact h4 {
  text-transform: uppercase;
}

.contact-item {
  align-items: center;
}

.contact-item a {
  text-decoration: none;
  color: white;  
  background: linear-gradient(90deg, rgba(0, 0, 33, 1) 0%, rgba(9, 9, 71, 1) 35%, rgba(93, 20, 125, 1) 100%);  
}
