@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --pink: #C82E9D;
  --purple-gradient: linear-gradient(to right, #C82E9D 20%, #92218c 100%);
  --lightgray: #D9D9D9;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Montserrat";
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}  

a {
  color: #2b2b2b;
  text-decoration: none;
}

body {
    color: #2b2b2b;     
    overflow: auto;
    -webkit-overflow-scrolling: touch;    
    scrollbar-width: none;       
}

section {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

::-webkit-scrollbar {
  width: 0px;
}

header {
  justify-content: center;
}

h1 {
  font-size: 0.7rem;
  display: inline-block;  
  white-space: nowrap; 
  border-right: .05em solid #9e2490;
  overflow: hidden;
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}  

.scroll {
  width: 5px;
  height: 100vh;
  position: fixed;
  right: 0;
  margin: 10px;
  transform-origin: top; 
  transform: scaleY(0);   
  transition: transform 150ms linear; 
  background-color: var(--pink);
}

.text-bold {
  font-weight: bold;
}

.font-small {
  font-size: 0.85rem;
}

.font-tiny {
  font-size: 0.75rem
}

.font-gray {
  color: #b5b5b5;
}

#navbar {
  width: 70%;
  position: fixed;
  top: 20px;
  transition: all 0.2s;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 18px;    
}

#navbar.active {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  background: linear-gradient(135deg,rgba(255, 255, 255, 0.95), rgba(245, 245, 245, 0.9), rgba(255, 255, 255, 0.85));
}

.monospaced {
  font-family: monospace;
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.toggle-btn {
  gap: 0.3rem;
  padding: 0.3rem;
  margin: 0.5rem;
  border: solid var(--pink) 2px;
  position: relative;
  display: flex;
  width: 10rem;
  margin-right: auto;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: calc(50% - 0.3rem);
  height: calc(100% - 0.6rem);
  background: var(--pink);
  transition: all 0.3s ease;
  z-index: 0;
}

.toggle-btn.right::before {
  transform: translateX(100%);
}

.toggle-item {
  padding: 0.3rem;
  cursor: pointer;
  z-index: 1;
  flex: 1;
  text-align: center;
  color: var(--pink);
  white-space: nowrap; 
  transition: all 0.2s ease;
}

.toggle-item:hover {
  background-color: #ffcff1;
}

.toggle-item.active {
  background-color: var(--pink);
  color: white;
}

main section {
  padding: 2rem;
  min-height: 100vh;
  height: auto;
}

h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: monospace;
}

.section-title {
  text-align: center;
}

.gradient-title {
  background: var(--purple-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-menu {
  list-style: none;
  gap: 2rem;
  justify-content: center;
  padding-top: 1.3rem;
  scroll-target-group: auto;
}

.menu-item {
  text-transform: uppercase; 
}

.menu-item.active::after, .menu-item:target-current::after {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  margin-bottom: 0.7rem;
  background-color: var(--pink);
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.menu-item::after {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  margin-bottom: 0.7rem;
  background-color: var(--pink);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-item:hover::after {
  transform: scaleX(1)
}

.hero {
  justify-content: center;
  align-items: center;  
}

.hero-child {
  display: inline-block;
  text-align: left;  
}

.hero-child h1 {
  font-size: clamp(2.9rem, 5vw, 4rem);
}

.hero-child h2 {
  font-size: clamp(2.3rem, 5vw, 4rem);
}

.hero-child img {
  width: 70vh;
}

.hero-child h2 {
  color: #551378; 
  opacity: 0;
  animation: fade 1s ease 2.7s 1 forwards;
  padding-bottom: 1rem;
}

.github-btn {
  font-size: 2em;
  text-align: center;
  padding: 1rem;
  display: inline-flex;
  border: solid var(--pink) 2px;  
  cursor: pointer;
  opacity: 0;;
  animation: fade 1s ease 4s forwards;
}

.github-btn a {
  color: var(--pink);
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;  
}

.github-btn a::after {
  content: ">";
  max-width: 0;  
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.github-btn:hover a::after {
  max-width: 20px;
  opacity: 1;
  margin-left: 10px;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

.skills h2 {
  font-size: clamp(3rem, 5vw, 4.5rem);
}

.skills article.grid-container {
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.skill-item {
  height: auto;
  margin: 2.5rem;
  justify-content: center;
}

.skill-item p {
  font-size: 0.9em;
}

.skill-item h4 {
  color: var(--pink);
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.skill-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.skill-item button:hover div, .skill-item button:focus div {
  transform: translateY(20px);
  opacity: 1;
}

.skill-item button div {
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(-30px);
  opacity: 0;
  transition: all 0.2s;
}

.skill-item div svg {
  fill: var(--pink);
}

.skill-item .arrow {
  stroke: var(--pink);
  scale: 1.3;
}

.divider {
  border: solid var(--lightgray) 1px;
  width: 1px;
  height: 250px;
}

.icon {
  opacity: 0.2;
}

.contact article.flex-container, .about article.flex-container {
  gap: 5rem;
  justify-content: stretch;
  width: 100%;
}

.about h2, .contact h2 {
  font-size: clamp(3.5rem, 5vw, 5.5rem);
  text-align: left;
  white-space: normal;
  
}

.contact h2, .about h2 {
  max-width: 8ch;
  text-align: right;
}

.box {
  flex: 1 1 0;
  min-width: 0; 
}

.title-box {
  display: flex;
  justify-content: end;
}

.contact .contact-box {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.about .about-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about .about-item p {
  text-align: justify;
  max-width: 500px;
}

.contact .contact-item img {
  width: 30px;
  margin-right: 1.2rem;
}

.contact .contact-item h4 {
  display: inline-block;
  font-size: 2rem;
}

.contact .contact-item a {
  font-size: 1.3rem;
  opacity: 0.8;
  transition: color 0.2s;
}

.contact .contact-item a:hover {
  color: var(--pink);
}
